<div class="row">
    <div class="col-xs-12">
        <form #f="ngForm" (ngSubmit)="onAddItem()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" ngModel required #nameInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for=amount>Amount</label>
                    <input type="number" name="amount" ngModel class="form-control" pattern="^[1-9]+[0-9]*$" required #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- <button class="btn btn-success" [disabled]="!f.valid" type="submit" (click)="onAddItem()">Add</button> -->
                    <button class="btn btn-success" [disabled]="!f.valid" type="submit" >{{editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-danger" *ngIf="editMode" type="button" (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="formReset()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
